#counterText {
    color: black;
    font-family: consolas,arial,sans-serif;
    font-size: 4em;
    text-align: center;
    }

    #favoriteColorContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 20px;

    }
    
    #favoriteColorBox {
        background-color: #800000;
        line-height: 100px;
        text-align: center;
        color: white;
        padding-left: 20px;  /* add space to the left side */
        padding-right: 20px; /* add space to the right side */
    }
    

    .no-gutters>.col {
        padding: 2px;
    }

    