html, body {
    height: 100%;
}

.content-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #f4f4f4;
}

.navbar {
    margin-bottom: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

footer {
    padding: 20px 0;
    background-color: #2c3e50;
    color: white;
    margin-top: 0; /* Overwrite any previous margins */
}

.fab {
    font-size: 24px;
    margin: 0 10px;
    transition: all 0.3s;
}

.fab:hover {
    transform: scale(1.2);
}


h2 {
    font-size: 2rem; 
    font-weight: bold;
}

.btn-fixed {
    display: block;
    width: 150px;
    height: 50px;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .card {
        margin: 0 auto 20px;
    }
}
